acme==1.27.0
aiohttp==3.8.1
aiohttp-jwt==0.6.1
aiosignal==1.2.0
anyio==3.6.1
asgiref==3.5.2
async-timeout==4.0.2
attrs==21.4.0
authsign==0.4.0
bitarray==1.2.2
black==21.12b0
boilerpy3==1.0.6
cdxj-indexer==1.4.4
certifi==2022.5.18.1
cffi==1.15.0
chardet==4.0.0
charset-normalizer==2.0.12
click==7.1.2
colorama==0.4.4
coverage==6.4.1
cryptography==37.0.2
cytoolz==0.11.2
decorator==5.1.1
defusedxml==0.7.1
eth-abi==3.0.0
eth-account==0.6.1
eth-hash==0.3.2
eth-keyfile==0.6.0
eth-keys==0.4.0
eth-rlp==0.3.0
eth-typing==3.0.0
eth-utils==2.0.0
ExifRead==3.0.0
fastapi==0.78.0
filelock==3.7.1
frictionless==4.38.0
frozenlist==1.3.0
h11==0.13.0
hexbytes==0.2.2
idna==2.10
iniconfig==1.1.1
isodate==0.6.1
Jinja2==3.1.2
josepy==1.13.0
jsonlines==3.0.0
jsonschema==4.6.0
marko==1.2.1
MarkupSafe==2.1.1
multidict==6.0.2
mypy-extensions==0.4.3
packaging==21.3
parsimonious==0.8.1
pathspec==0.9.0
pem==21.2.0
petl==1.7.9
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
Py3AMF==0.8.10
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pycryptodome==3.14.1
pydantic==1.9.1
PyJWT==2.4.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyRFC3339==1.1
pyrsistent==0.18.1
pytest==7.1.2
pytest-cov==3.0.0
python-dateutil==2.8.2
python-dotenv==0.20.0
python-slugify==6.1.2
pytz==2022.1
PyYAML==6.0
requests==2.27.1
requests-file==1.5.1
requests-toolbelt==0.9.1
rfc3161ng==2.1.3
rfc3986==2.0.0
rlp==3.0.0
shellingham==1.4.0
shortuuid==1.0.9
simpleeval==0.9.12
six==1.16.0
sniffio==1.2.0
starlette==0.19.1
stringcase==1.2.0
surt==0.3.1
tableschema-to-template==0.0.12
tabulate==0.8.9
text-unidecode==1.3
tldextract==3.3.0
tomli==1.2.3
toolz==0.11.2
typer==0.4.1
typing_extensions==4.2.0
urllib3==1.26.9
uvicorn==0.17.6
validators==0.19.0
wacz==0.4.6
warcio==1.7.4
watchdog==2.1.8
XlsxWriter==3.0.3
yarl==1.7.2
