
FILENAME  =  "example.csv" # Default example.csv
ORG  = "demo-org" # Default demo-org
START_ROW = "6" # Default 6
END_ROW = "9999" # Default 9999

# Name of collection or list of collection names, Use only one
#COLLECTION = "test1"
COLLECTIONS = '["test1","test2"]'

# Browsertrix
BROWSERTRIX_URL =os.environ.get("BROWSERTRIX_URL","https://org1.browsertrix.stg.starlinglab.org")
BROWSERTRIX_USERNAME = "admin@example.org" # Default: tools@starlinglab.org
BROWSERTRIX_PASSWORD="admin@example.org"

#Integrity Backend
API_URL="https://api.integrity.stg.starlinglab.org" # https://api.integrity.stg.starlinglab.org
JWT="<JWT FOR INTEGRITY BACKEND>" 