# default path to integrity-backend. Used when no other path is specified
TARGET_PATH = "/mnt/integrity_store/starling/internal/starling-lab-test/test-web-archive/"

# JSON with superuser credentials to browsertrix
BROWSERTRIX_CREDENTIALS =  "/root/.integrity/browsertrix_credentials.json"

# temporary folder
TMP_DIR =  "/tmp"

# path there preprocessor will keep track of what crawls it already processed
DATA_FILE = "/root/.integrity/preprocessor_browsertrix_data.json"

# where node exporter data will be exported to
PROMETHEUS_FILE = "/opt/node_exporter/textfiles/browsertrix.prom"

# definition of Orconfiguration including
CONFIG_FILE = "/root/.integrity/preprocessor-browsertrix.json"


HOSTNAME="integrity.stg.starlinglab.org"




# Define url that will be used to download the WACZ
HOSTNAME="FQDF.HOSTNAME"
