SOURCE_PATH = "/mnt/browsertrix"
TARGET_PATH = "/mnt/integrity_store/starling/internal/starling-lab-test/test-web-archive/"
BUCKET = "test-bucket"
BROWSERTRIX_USERNAME = "user@somdomain.com"
BROWSERTRIX_PASSWORD = "password"
BROWSERTRIX_URL = "http://127.0.0.1:9871"
TMP_DIR =  "/tmp"
PROMETHEUS_FILE = "/tmp/prom"
DATA_FILE = "/root/.integrity/preprocessor-browsertrix.data.json"
CONFIG_FILE = "/root/.integrity/preprocessor-browsertrix.json"
