# root of browsertrix backend mount
SOURCE_PATH = "/mnt/browsertrix"

# default path to integrity-backend
TARGET_PATH = "/mnt/integrity_store/starling/internal/starling-lab-test/test-web-archive/"

# bucket name used in mimo
BUCKET = "test-bucket"

# Browsertrix user account
BROWSERTRIX_USERNAME = "user@example.com"
BROWSERTRIX_PASSWORD = "password123"

# host where /api is accessable
BROWSERTRIX_HOST = "http://127.0.0.1:9871"

# temporary folder
TMP_DIR =  "/tmp"

# where some state data will be stored
DATA_DIR = "/root/.integrity/"

# where node exporter data will be exported to
PROMETHEUS_FILE = "/opt/node_exporter/textfiles/browsertrix.prom"

# additional configuration including
CONFIG_FILE = "/root/.integrity/preprocessor-browsertrix.json"

# Define url that will be used to download the WACZ
HOSTNAME="FQDF.HOSTNAME"
