{
    "dropbox1": {
        "sourcePath": "/mnt/store/dropbox/Dropbox/integrity-stg-starlinglab-org",
        "targetPath": "/mnt/integrity_store/starling/internal/starling-lab-test/test-dropbox",
        "allowedPatterns": ["*.jpg", "*.jpeg", "*.png", "*.bmp", "*.pdf"],
        "extractName": true
    },
    "notdropbox": {
        "sourcePath": "/root/integrity-preprocessor/dropbox/test",
        "targetPath": "/mnt/integrity_store/starling/internal/starling-lab-test/test-dropbox",
        "allowedPatterns": ["*.zip"]
    }
}