{
    "dropbox1": {
        "sourcePath": "/mnt/store/dropbox/Dropbox/integrity-stg-starlinglab-org",
        "targetPath": "/mnt/integrity_store/starling/internal/starling-lab-test/test-dropbox",
        "allowedPatterns": ["*.jpg", "*.jpeg", "*.png", "*.bmp", "*.pdf"],
        "extractName": true,
        "method": "dropbox"
    },
    "dropbox1wacz": {
        "sourcePath": "/mnt/store/dropbox/Dropbox/integrity-stg-starlinglab-org",
        "targetPath": "/mnt/integrity_store/starling/internal/starling-lab-test/test-dropbox",
        "allowedPatterns": ["*.wacz"],
        "extractName": true,
        "processWacz": true,
        "method": "dropbox"
    },
    "dropbox1ProofMode": {
        "sourcePath": "/mnt/store/dropbox/Dropbox/integrity-stg-starlinglab-org",
        "targetPath": "/mnt/integrity_store/starling/internal/starling-lab-test/test-dropbox",
        "allowedPatterns": ["*.zip"],
        "extractName": true,
        "processProofMode": true,
        "method": "dropbox"
    },
    "notdropbox_wav": {
        "sourcePath": "/root/RandomFolder",
        "targetPath": "/mnt/integrity_store/starling/internal/starling-lab-test/test-folder",
        "allowedPatterns": ["*.wav"],
        "method": "folder"
    }
}